body{
    background-color: rgb(54, 53, 53);
    color: white;
    text-align: center;
}

.wrapper-1{
    display: inline;
}

.img-f{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.558);
    width: 350px;
    height: 500px;
    border-radius: 10px;
   
}

#img1{
    max-width: 300px;
}

.btn-position{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-back{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.button-go{
    background-color: green;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.inner-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
 }
 
 a:link{
     color: white;
    text-decoration: none;
 }
 
 a:visited{
     color: white;
     text-decoration: none;
 }

 @media screen and (max-width:1128px) {
    .wrapper-1{
        display: inline;
    }
    body{
        text-align: center;
    }
    .inner-image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
 }

 @media screen and (max-width:420px) {
    .button-go{
        width: 100px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
    }
    .button-back{
        width: 100px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
    }
    #img1{
        max-width: 200px;
    }
    .img-f{
        width: 250px;
        height: 350px;
    }
 }
 
